body {
  margin: 0;
  color: #24292e;
}

a {
  color: #24292e;
  text-decoration: none;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 260px;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 960px;
  padding: 0 4%;
}

header > div > ul {
  display: flex;
}

header > div > ul > li {
  margin-left: 30px;
  list-style: none;
}

.insta-icon {
  width: 20px;
  max-width: 100%;
}

header > div > ul > li > a:hover {
  opacity: 0.6;
}

/* main */
.firstview {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}

/* about */
.about {
  display: flex;
  justify-content: center;
  padding: 0 4%;
  margin-top: 65px;
}

.container {
  max-width: 960px;
}

.section-title {
  margin-bottom: 65px;
  text-align: center;
}

.about__container--name {
  margin-bottom: 30px;
}

.about__container--profile {
  margin-top: 30px;
}
